<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Nick>123</Nick>
  <NickColor>
    <R>133</R>
    <G>156</G>
    <B>156</B>
  </NickColor>
  <FormSize>
    <Width>380</Width>
    <Height>470</Height>
  </FormSize>
  <Alerts>true</Alerts>
  <Address>134.249.137.203</Address>
  <Port>10021</Port>
  <ServicePort>10022</ServicePort>
  <StateOfIPv6Protocol>false</StateOfIPv6Protocol>
  <RecorderKey>E</RecorderKey>
  <Frequency>44100</Frequency>
  <Bits>16</Bits>
</Settings>